* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #202020;
    color: #FFF;
    height: 6vh;
}

nav .left h3 {
    color: #FFF;
}

nav .left {
    display: flex;
    align-items: center;

}

nav .left ul {
    display: flex;
    margin: 0 10px;
    
}

nav .left ul li {
    list-style-type: none;
    padding: 6px 8px;
    color: #FFF;
    margin-top: 1px;
}

nav .left ul li a:hover {
    background-color: #FFF;
    color: #202020;
    border-radius: 5px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right p {
    margin-right: 50px;
}

.active {
    background-color: #FFF;
    color: #202020;
    border-radius: 5px;
    padding: 6px 8px;
}

.notActive {
    color: #fff;
    padding: 6px 8px;
}